html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #252525
;
}

.center {
  display: block;
  margin: auto;
  padding: 200px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
}

.center {
    color: white;
    margin: 1em auto;
    position: relative;
    transition: color 3s linear;
}

#text-switch {
  background-color: #252525
;
}

.hChar {
    background-color: #252525;
    color: white;
}