       <div class='post' data-id='postId'>
            <div class='insidePost' data-id='insidePostId'>
                <div class="input" data-id="inputId">
                    <div class="btn-container" data-id="btnT1">
                        <button class="btn-io"></button>
                    </div>
                    <div class="text" data-id="ioId">
                        <span class="sentence" data-content="originalInput">
                        </span>
                    </div>
                </div>
                
                <div class="collapse" data-id="collapseId">
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE1">
                            <button data-id="btnP1" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text1">
                            <div class= "txtWrapper" data-id="wrapper1">
                                <span class="sentence orig" data-id="orig1" data-content="t1">
                                </span>
                                <span class="sentence eng" data-id="eng1" data-content="t1E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang1">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE2">
                            <button data-id="btnP2" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text2">
                            <div class= "txtWrapper" data-id="wrapper2">
                                <span class="sentence orig" data-id="orig2" data-content="t2">
                                </span>
                                <span class="sentence eng" data-id="eng2" data-content="t2E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang2">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE3">
                            <button data-id="btnP3" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text3">
                            <div class= "txtWrapper" data-id="wrapper3">
                                <span class="sentence orig" data-id="orig3" data-content="t3">
                                </span>
                                <span class="sentence eng" data-id="eng3" data-content="t3E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang3">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE4">
                            <button data-id="btnP4" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text4">
                            <div class= "txtWrapper" data-id="wrapper4">
                                <span class="sentence orig" data-id="orig4" data-content="t4">
                                </span>
                                <span class="sentence eng" data-id="eng4" data-content="t4E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang4">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE5">
                            <button data-id="btnP5" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text5">
                            <div class= "txtWrapper greek" data-id="wrapper5">
                                <span class="sentence orig" data-id="orig5" data-content="t5">
                                </span>
                                <span class="sentence eng" data-id="eng5" data-content="t5E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang5">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE6">
                            <button data-id="btnP6" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text6">
                            <div class= "txtWrapper" data-id="wrapper6">
                                <span class="sentence orig" data-id="orig6" data-content="t6">
                                </span>
                                <span class="sentence eng" data-id="eng6" data-content="t6E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang6">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE7">
                            <button data-id="btnP7" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text7">
                            <div class= "txtWrapper russian" data-id="wrapper7">
                                <span class="sentence orig" data-id="orig7" data-content="t7">
                                </span>
                                <span class="sentence eng" data-id="eng7" data-content="t7E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang7">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE8">
                            <button data-id="btnP8" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text8">
                            <div class= "txtWrapper" data-id="wrapper8">
                                <span class="sentence orig thai" data-id="orig8" data-content="t8">
                                </span>
                                <span class="sentence eng" data-id="eng8" data-content="t8E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang8">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE9">
                            <button data-id="btnP9" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text9">
                            <div class= "txtWrapper japanese" data-id="wrapper9">
                                <span class="sentence orig" data-id="orig9" data-content="t9">
                                </span>
                                <span class="sentence eng" data-id="eng9" data-content="t9E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang9">
                            </div>
                        </div>
                    </div>
                    
                    <div class="eachTrans">
                        <div class="btn-container" data-id="btnE10">
                            <button data-id="btnP10" data-class="btnBtw" class="btn-btw" data-value="btnVal"></button>
                        </div>
                        
                        <div class="text" data-id="text10">
                            <div class= "txtWrapper chinese" data-id="wrapper10">
                                <span class="sentence orig" data-id="orig10" data-content="t10">
                                </span>
                                <span class="sentence eng" data-id="eng10" data-content="t10E">
                                </span>
                            </div>
                            <div class="lang" data-content="lang10">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="output" data-id="output">
                    <div class="btn-container" data-id="btnT2">
                        <button class="btn-io"></button>
                    </div>
                    <div class="text" data-id="ioId2">
                        <span class="sentence" data-content="finalOutput">
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-container btn-m" data-id="btnM">
            </div>
        </div>